body {
    font-family: "Times New Roman", Times, serif;
    margin: 0 0;
    background-image: url(../img/back.jpg);
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    
  font-size: 25px;
}