body {
    font-family: "Times New Roman", Times, serif;
    margin: 0 0;
    background-image: url(/img/back.gif);
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
}

.head-btn {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
}

.head-list {
    display: inline-block;
}

/*@media(max-width: 960px) {*/
    /*.mobile {*/
        /*width: 100%;*/
    /*}*/
/*}*/
/*
.bor{
    width: 600px;
}*/
#section{
    padding: 0;
}