body {
    background-image: url(/img/back.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.cont{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: Center;
    margin: 0;
    padding: 0;
}
.login {
    height: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color: #f7f7f7;
    border-radius: 7px;
}

.btn {
    width: 270px;
}

.login-form {
    margin-right: 5%;
    margin-left: 5%;
}

.heads {
    float: right;
    background-color: #660033;
    color: white;
    font-size: 20px;
    height: 35px;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 0px 0;
}