<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>留言板</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css"/>
    <script th:inline="javascript">
        load = function () {
            var head = document.getElementById("head");
            var user = [[${user}]];
            if (user.length > 0) {
                var text = document.createElement("p");
                var h = document.createElement("a");
                h.href = "/cancel";
                h.innerText = "注销";
                text.innerText = user + " ";
                head.appendChild(text);
                text.appendChild(h);
            } else {
                var h1 = document.createElement("a");
                var h2 = document.createElement("a");
                h1.href = "login";
                h2.href = 'register';
                h1.innerText = "登陆";
                h2.innerText = "注册";
                head.appendChild(h1);
                head.append("   ");
                head.appendChild(h2);
            }
        }
    </script>
</head>
<body onload="load();">
<div>
    <div id="head"></div>
    <br/>
    <form action="/message/add" method="get">
        <textarea rows="10" cols="30" placeholder="留下你的评论" name="content"></textarea>
        <input type="submit" value="提交">
    </form>
    <br/>
    <div th:each="message,messageStat :${messagelist}" class="messageBox">
        <p th:text="'留言人：'+${message.user.userName}"></p>
        <p th:text="'留言时间：'+${message.time.toString().substring(0,19)}"></p>
        <p th:text="'留言内容：'+${message.content}"></p>
        <p>回复：</p>
        <div th:each="common,commonStat :${message.commons}">
            <p th:text="'&nbsp&nbsp&nbsp&nbsp'+${common.time.toString().substring(0,19)}+' '+${common.user.userName}+' 回复了:'+${common.content}"></p>
            <a th:href="'/common/delete?common='+${common.id}">删除</a>
        </div>
        <form action="/common/add" method="get">
            &nbsp&nbsp&nbsp<label>
            <input name="toId" th:value="${message.user.id}" type="hidden">
            <input name="messageid" th:value="${message.id}" type="hidden">
            <input type="text" name="content" placeholder="回复">
            <input type="submit" value="回复">
        </label>
            <br/>
        </form>
        <a th:href="'/message/delete?message='+${message.id}">删除</a>
    </div>
</div>
</body>
</html>